<%= render(:partial => 'status_styles') %>

<h1 class='wi'>Statuses</h1>
<%unless @statuses.empty?%>
  <form method="POST" action="clear_statuses" class='clear-failed'>
  <input type='submit' name='' value='Clear Statuses' />
</form>
<%end%>
<p class='intro'>These are recent jobs created with the JobWithStatus class</p>
<p class='sub'>Showing <%=@start%> to <%= @start + 20 %> of <b><%= @size %></b> statuses</p>
<table>
  <tr>
    <th>ID</th>
    <th style="width:40%">Name</th>
    <th>Status</th>
    <th>Last Updated</th>
    <th class="progress">% Complete</th>
    <th>Message</th>
    <th>Kill</th>
  </tr>
  <% unless @statuses.empty? %>
    <% @statuses.each do |status| %>
    <tr>
      <td><%= link_to(status.uuid, status_resque_path(status.uuid)) %></td>
      <td><%= status.name %></td>
      <td class="status status-<%= status.status %>"><%= status.status %></td>
      <td class="time"><%= format_time(Time.zone.parse(status.time.to_s)) %></td>
      <td class="progress">
        <div class="progress-bar" style="width:<%= status.pct_complete %>%">&nbsp;</div>
        <div class="progress-pct"><%= status.pct_complete ? "#{status.pct_complete}%" : '' %></div>
      </td>
      <td><%= status.message.to_s.html_safe %></td>
      <td><% if status.killable? %><%= button_to('Kill', kill_resque_path(status.uuid), :class => 'kill') %><% end %></td>
    </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7" class='no-data'>No Statuses right now...</td>
  </tr>
  <% end %>
</table>

<% unless @statuses.empty? %>
<%= render(:partial => 'next_more', :locals => {:start => @start, :size => @size}) %>
<% end %>

<%= status_poll(@start) %>

<script type="text/javascript" charset="utf-8">
  jQuery(function($) {

    $('a.kill').click(function(e) {
      e.preventDefault();
      var $link = $(this),
          url = $link.attr('href'),
          confirmed = confirm("Are you sure you want to kill this job? There is only do or do not.  There is no undo.");
      if (confirmed) {
        $link.animate({opacity: 0.5});
        $.ajax({
          url: url,
          type: 'post',
          success: function() {
            $link.remove();
          }
        });
      } else {
        return false
      }
    });

  });
</script>