<!DOCTYPE html>
<html>
  <head>
    <title>Resque.</title>
    <%= javascript_include_tag "resque/jquery-1.3.2.min.js", "resque/jquery.relatize_date.js", "resque/ranger.js" %>
    <%= yield :javascript %>
    <%= stylesheet_link_tag "resque/resque_reset", :media=>"screen" %>
    <%= stylesheet_link_tag "resque/resque", :media=>"screen" %>
    <%= yield :stylesheets %>
  </head>
  <body>
    <div class="header">
      <ul class='nav'>
        <%= tab "Overview" %>
        <%= tab "Working" %>
        <%= tab "Failed" %>
        <%= tab "Queues" %>
        <%= tab "Workers" %>
        <%= tab "Stats" %>
      </ul>
    </div>

    <% if @subtabs %>
      <ul class='subnav'>
        <% for subtab in @subtabs %>
          <li <%= class_if_current "#{current_section}/#{subtab}" %>><%= link_to(subtab, :action => current_section, :id => subtab) %> </li>
        <% end %>
      </ul>
    <% end %>

    <div id="main">
      <%= yield %>
    </div>

    <div id="footer">
      <p>Powered by <a href="http://github.com/defunkt/resque">Resque</a> v<%=Resque::Version%></p>
      <p>Connected to Redis on <%=Resque.redis.server%></p>
    </div>

  </body>
</html>